<h1 id="installing-packages-with-pip">Installing Packages with pip</h1>
<p>This document describes how to install and configure the ORDERXLS Extender module, including installing the Python dependencies.</p>
<h2 id="install-python">Install Python</h2>
<p>In order to install the dependencies, download Python 3.4.2 and install it on the workstation.</p>
<ol type="1">
<li><p>Download the installer for Python 3.4.2. on Windows: https://www.python.org/downloads/release/python-342/</p></li>
<li><p>Run the installer, installing into <code>C:\Python34</code></p>
<ul>
<li>Note: if another path is chosen, substitute it in all commands that follow.</li>
</ul></li>
<li><p>Only the optional <code>pip</code> component must be installed, all other components may be skipped.</p>
<ul>
<li>A full installation requires ~ 73MB, a minimal installation ~ 32MB</li>
</ul></li>
</ol>
<h2 id="check-pip-version">Check pip Version</h2>
<p>Python 3.4.2 is distributed with a version of pip that uses unsafe encryption to communicate with the package index. As a consequence, it has been deprecated and may not run.</p>
<p>In the shell of your choice, try running the following:</p>
<pre><code>PS C:\Users\Administrator&gt; C:\Python34\python.exe -m pip list</code></pre>
<p>If this command returns nothing at all or raises an error, it is likely that the pip version is out of date.</p>
<p>To upgrade pip to a supported version, use the <code>get-pip.py</code> script for Python 3.4. Note that the version of <code>get-pip.py</code> currently being distributed online no longer supports 3.4, so I have included a supported version in the accompanying <code>python/</code> directory.</p>
<pre><code>PS C:\Users\Administrator&gt; C:\Python34\python.exe get-pip.py</code></pre>
<h2 id="install-the-packages-using-pip">Install the Packages using pip</h2>
<p>Once Python3.4 is installed, use the pip Python package manager to install openpyxl and its dependencies.</p>
<ol type="1">
<li><p>Start a Command or PowerShell prompt.</p></li>
<li><p>Navigate to the <code>VI67A\python</code> directory.</p>
<ul>
<li><code>cd C:\Sage\Sage300\vi67a\python</code></li>
</ul></li>
<li><p>Use the pip module to update pip and install openpyxl into the Extender embedded python deployment.</p></li>
</ol>
<pre><code>PS C:\Users\Administrator&gt; cd C:\Sage\Sage300\vi67a\python\

PS C:\Sage\Sage300\vi67a\python&gt; C:\Python34\python.exe -m pip install -U pip -t .\lib\

You are using pip version 6.0.8, however version 19.1.1 is available.  
You should consider upgrading via the &#39;pip install --upgrade pip&#39; command.  
Collecting pip from https://files.pythonhosted.org/packages/5c/e0/be401c003291b56efc55aeba6a80ab790d3d4cece2778288d65323009420/pip-19.1.1-py2.py3-none-any.whl#sha256=993134f0475471b91452ca029d4390dc8f298ac63a712814f101cd1b6db46676  
Downloading https://files.pythonhosted.org/packages/5c/e0/be401c003291b56efc55aeba6a80ab790d3d4cece2778288d65323009420/pip-19.1.1-py2.py3-none-any.whl (1.4MB)  
Installing collected packages: pip  
Found existing installation: pip 6.0.8  
    Uninstalling pip-6.0.8:  
        Successfully uninstalled pip-6.0.8  
Successfully installed pip-19.1.1  </code></pre>
<pre><code>PS C:\Users\Administrator&gt; cd C:\Sage\Sage300\vi67a\python\

PS C:\Sage\Sage300\vi67a\python&gt; C:\Python34\python.exe -m pip install -U openpyxl -t .\lib\

Collecting openpyxl  
  Downloading https://files.pythonhosted.org/packages/cf/63/811f01cd0e473e2d2ee2b257bf2ae95efaf960c4bee74195e331e8e139e2/openpyxl-2.5.14.tar.gz (173kB)  
Collecting jdcal (from openpyxl)  
  Downloading https://files.pythonhosted.org/packages/f0/da/572cbc0bc582390480bbd7c4e93d14dc46079778ed915b505dc494b37c57/jdcal-1.4.1-py2.py3-none-any.whl  
Collecting et_xmlfile (from openpyxl)  
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz  
Installing collected packages: jdcal, et-xmlfile, openpyxl  
  Running setup.py install for et-xmlfile: started  
    Running setup.py install for et-xmlfile: finished with status &#39;done&#39;  
  Running setup.py install for openpyxl: started  
    Running setup.py install for openpyxl: finished with status &#39;done&#39;  
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-2.5.14  </code></pre>
<p>The Python dependencies are now installed in the extender environment.</p>
<h3 id="optional-remove-python">Optional: Remove Python</h3>
<p>Although not required, the Python installation should be removed in production environments once the openpyxl package has been installed. To remove Python3.4:</p>
<ol type="1">
<li>Launch the Python3.4 uninstaller from the start menu and follow the prompts to remove the application.</li>
<li>Manually delete the <code>C:\Python34</code> directory.</li>
<li>Manually delete the Python installer file.</li>
</ol>
<h2 id="install-and-configure-an-extender-module">Install and Configure an Extender Module</h2>
<p>From the Sage 300 Desktop:</p>
<ol type="1">
<li>Navigate to the Extender section and open the Module screen.</li>
<li>Click Import Module.</li>
<li>Locate and import the .vi module file.</li>
<li>Close the Modules screen.</li>
<li>If the module required configuration in the database, Open the Custom Table Editor.
<ul>
<li>Load the module table</li>
<li>Add any relevant configuration</li>
</ul></li>
</ol>
<h2 id="add-an-icon-to-the-desktop">Add an Icon to the Desktop</h2>
<p>An icon can be added anywhere on the Sage desktop to launch scripts installed by the module.</p>
<p>To add an icon.</p>
<ol type="1">
<li>Open the Extender Scripts screen.</li>
<li>Highlight the script you’d like to add, right-click, and select “Add Icon to Desktop”.</li>
<li>Provide a custom name for the icon and select where in the desktop to display it.</li>
<li>Save the changes. Verify that the icon works as expected.</li>
</ol>
<h2 id="removing-an-icon-from-the-desktop">Removing an Icon from the Desktop</h2>
<p>To remove an icon.</p>
<ol type="1">
<li>Open the Extender Scripts screen.</li>
<li>Highlight any script, right-click, and select “Add Icon to Desktop”.</li>
<li>In the Icon Tree pane, highlight the icon to be removed.</li>
<li>Push the delete (Del) key on your keyboard to remove the icon.</li>
<li>Close the window using the window ‘x’ button, <em>not the ‘Close’ button</em></li>
</ol>
